alternating_alphas_and_betas
associate_prototypes
snl-with-betas-no-sigmoid
docker_outputs
snl_alpha_freeze_output
snl_alpha_and_weights_freeze_output
tiny-imagenet-200
checkpoints
dataset_cache
alternating_alphas_betas_and_gammas
finetune_only_betas_one_channel
snl_alpha_and_weights_freeze_output
snl_alpha_freeze_output