.idea/
checkpoints/
.ipynb_checkpoints/
dataset_cache
__pycache__/
pretrained_models
snl_output/
*.pkl
retraining_after_alpha_thresholding/
/snl_output2/
/induce_prototypes/
/associate_prototypes/
docker_outputs
cifar100-new-split
cifar100-new-split-val